# Ignore node modules 
gql-ts-app/node_modules/**
# Ignore package-lock.json
gql-ts-app/package-lock.json
#Ignore tsc compiled js files.
gql-ts-app/dist/
# Ignore graphql file todo.
gql-ts-app/graphql/src/schema/
# Ignore schema file
gql-ts-app/schema.gql